.container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 98vh;
}

.block-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    height: 45px;
    width: 45px;
    border: 3px solid black;
  }